<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="In the busy time of our daily life, we let our mind float away to many distractions. We forget about our body, our breath, and our mind; we forget about the unity of our mind and body. In order to remind us of this unification, the bell of mindfulness is meant for us to bring our mind back to our body. When we hear the sound of the bell, please stop what we are doing and take three breaths to bring our mind back to our body. We make this unification happens and be happy with what we have in the present.">
    <meta name="keywords" content="Bell of Mind Fullness, zen bell, thick nhat hanh">
    <link href="../default_style.css" rel="stylesheet" type="text/css">
    <title>:: Bell of Mindfulness | Chuông Chánh Niệm ::</title>
</head>

<body style="width:100%;">
    <center>
        <table width="100%" border="0" cellspacing="5" cellpadding="0" id='BellTable' class='BellTable' style="width:500px;">
            <tr>
                <td align="center">
                    <h1 align="center" id="bellTitle">:: Bell of Mindfulness ::</h1>
                    <h4 id="bellUsePopupIcon" align="left" style="text-indent:0;">Please click on the Bell of Mindfulness icon to set your options.</h4>
                </td>
            </tr>
        </table>
    </center>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/options.js"></script>
</body>

</html>
