<!doctype html>
<script type ="module" src="../js/offscreen.js" defer></script>

<audio id="nhatchuong">
  <source src="../bells/nhatchuong.mp3" type="audio/mpeg">
  <source src="../bells/nhatchuong.ogg" type="audio/ogg">
  <source src="../bells/nhatchuong.wav" type="audio/wav">
</audio>

<audio id="thinhchuong">
  <source src="../bells/thinhchuong.mp3" type="audio/mpeg">
  <source src="../bells/thinhchuong.ogg" type="audio/ogg">
  <source src="../bells/thinhchuong.wav" type="audio/wav">
</audio>
