<!doctype html>
<script type ="module" src="../js/offscreen.js" defer></script>

<audio id="nhatchuong">
  <source src="../bells/nhatChuong.mp3" type="audio/mpeg">
  <source src="../bells/nhatChuong.ogg" type="audio/ogg">
  <source src="../bells/nhatChuong.wav" type="audio/wav">
</audio>

<audio id="thinhchuong">
  <source src="../bells/thinhChuong.mp3" type="audio/mpeg">
  <source src="../bells/thinhChuong.ogg" type="audio/ogg">
  <source src="../bells/thinhChuong.wav" type="audio/wav">
</audio>
